.thumbnail-preview img{
    width: 100%;
    padding: 2px;
    border: 1px solid #D9D9D6;
    background: #fff;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}